@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GovUkDesignSystem.GovUkDesignSystemComponents.ItemViewModel

@{
    string hintId = Model.Hint != null ? Model.Id + "-item-hint" : null;
    string conditionalId = Model.Conditional != null ? "conditional-" + Model.Id : null;
}

@{
    if (Model.Divider != null)
    {
        <div class="@($"{Model.StyleNamePrefix}__divider")">@Model.Divider</div>
    }
}

<div class="@($"{Model.StyleNamePrefix}__item")">
    <input class="@($"{Model.StyleNamePrefix}__input")"
           id="@(Model.Id)"
           name="@(Model.Name)"
           type="@(Model.InputType)"
           value="@(Model.Value)"
           @(Html.Raw(Model.Checked ? "checked" : ""))
           @(Html.Raw(Model.Disabled ? "disabled" : ""))
           data-aria-controls="@conditionalId"
           aria-describedby="@hintId"
           @(Html.Raw(Model.Attributes != null ? string.Join(" ", Model.Attributes.Select(a => a.Key + "=\"" + a.Value + "\"")) : ""))>

    @{
        if (Model.Label != null)
        {
            await Html.RenderPartialAsync("/GovUkDesignSystemComponents/Label.cshtml", new LabelViewModel
            {
                Classes = $"{Model.StyleNamePrefix}__label {Model.Label.Classes}",
                Text = Model.Label.Text,
                Html = Model.Label.Html,
                For = Model.Id,
                Attributes = Model.Label.Attributes
            });
        }

        if (Model.Hint != null)
        {
            await Html.RenderPartialAsync("/GovUkDesignSystemComponents/Hint.cshtml", new HintViewModel
            {
                Id = hintId,
                Classes = $"{Model.StyleNamePrefix}__hint",
                Text = Model.Hint.Text,
                Html = Model.Hint.Html,
                Attributes = Model.Hint.Attributes
            });
        }
    }
</div>

@{
    if (Model.Conditional != null)
    {
        <div class="@($"{Model.StyleNamePrefix}__conditional") @(Html.Raw(Model.Checked ? "" : $"{Model.StyleNamePrefix}__conditional--hidden"))"
             id="@conditionalId">
            @{ await Html.RenderPartialAsync("/GovUkDesignSystemComponents/SubComponents/HtmlText.cshtml", Model.Conditional); }
        </div>
    }
}