@model GovUkDesignSystem.GovUkDesignSystemComponents.TextAreaViewModel

<div class="govuk-form-group @(Model.FormGroup?.Classes) @(Html.Raw(Model.ErrorMessage != null ? "govuk-form-group--error" : ""))">
    @{
        string describedBy = Model.DescribedBy;
        if (Model.Label != null)
        {
            await Html.RenderPartialAsync("/GovUkDesignSystemComponents/Label.cshtml", Model.Label);
        }
        if (Model.Hint != null)
        {
            Model.Hint.Id = $"{Model.Id}-hint";
            describedBy += Model.Hint.Id;
            await Html.RenderPartialAsync("/GovUkDesignSystemComponents/Hint.cshtml", Model.Hint);
        }
        if (Model.ErrorMessage != null)
        {
            Model.ErrorMessage.Id = $"{Model.Id}-error";
            describedBy += Model.ErrorMessage.Id;
            await Html.RenderPartialAsync("/GovUkDesignSystemComponents/ErrorMessage.cshtml", Model.ErrorMessage);
        }
    }
    <textarea class="govuk-textarea @(Model.Classes) @(Html.Raw(Model.ErrorMessage != null ? "govuk-textarea--error" : ""))"
              id="@(Model.Id)"
              name="@(Model.Name)"
              rows="@(Model.Rows ?? 5)"
              aria-describedby="@(describedBy)"
              autocomplete="@(Model.Autocomplete)"
              @(Html.Raw(Model.Attributes != null ? string.Join(" ", Model.Attributes.Select(a => a.Key + "=\"" + a.Value + "\"")) : ""))>@(Model.Value)</textarea>
</div>