@using GovUkDesignSystem.Helpers
@model GovUkDesignSystem.GovUkDesignSystemComponents.ButtonViewModel

@{
    string classNames =
        $"govuk-button"
        + $" {Model.Classes}"
        + (Model.Disabled ? " govuk-button--disabled" : "")
        + (Model.IsStartButton ? " govuk-button--start" : "");
}

@{
    if (Model.Element?.ToLower() == "input")
    {
        <input class="@(classNames)"
               data-module="govuk-button"
               value="@(Model.Text)"
               type="@(Model.Type ?? "submit")"
               name="@(Model.Name)"
               @(Model.Disabled ? "disabled" : "")
               aria-disabled="@(Model.Disabled ? "true" : "false")"
               data-prevent-double-click="@(Model.PreventDoubleClick ? "true" : "false")"
               @(Html.Raw(Model.Attributes.ToTagAttributes()))/>
    }
    else if (Model.Href != null)
    {
        <a class="@(classNames)"
           data-module="govuk-button"
           @if (!Model.Disabled)
           {
               <text>
                   href="@(Model.Href ?? "#")"
               </text>
           }
           role="button"
           draggable="false"
           @(Html.Raw(Model.Attributes.ToTagAttributes()))>
            @{ await Html.RenderPartialAsync("/GovUkDesignSystemComponents/SubComponents/HtmlText.cshtml", Model); }
        </a>
    }
    else
    {
        <button class="@(classNames)"
                data-module="govuk-button"
                value="@(Model.Value)"
                type="@(Model.Type)"
                name="@(Model.Name)"
                @(Model.Disabled ? "disabled" : "")
                aria-disabled="@(Model.Disabled ? "true" : "false")"
                data-prevent-double-click="@(Model.PreventDoubleClick ? "true" : "false")"
                data-prevent-double-click-timeout="@(Model.PreventDoubleClickTimeout)"
                @(Html.Raw(Model.Attributes.ToTagAttributes()))>
            @{ await Html.RenderPartialAsync("/GovUkDesignSystemComponents/SubComponents/HtmlText.cshtml", Model); }
            @{
                if (Model.IsStartButton)
                {
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
                    </svg>
                }
            }
        </button>
    }
}
