@using GovUkDesignSystem.Helpers
@model GovUkDesignSystem.GovUkDesignSystemComponents.LabelViewModel

@if (Model.IsPageHeading)
{
    <h1 class="govuk-label-wrapper" indent="2">
        <label class="govuk-label @(Model.Classes)" @(Html.Raw(Model.Attributes.ToTagAttributes())) for="@(Model.For)">
            @{ await Html.RenderPartialAsync("/GovUkDesignSystemComponents/SubComponents/HtmlText.cshtml", Model); }
        </label>
    </h1>
}
else
{
    <label class="govuk-label @(Model.Classes)" @(Html.Raw(Model.Attributes.ToTagAttributes())) for="@(Model.For)">
        @{ await Html.RenderPartialAsync("/GovUkDesignSystemComponents/SubComponents/HtmlText.cshtml", Model); }
    </label>;
}

